/* You can add global styles to this file, and also import other style files */


@import 'bootstrap/dist/css/bootstrap.min.css';

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-snack-bar-container { 
    background-color: #fff;
    color: #ff8d8d;
    max-width: 50vw !important;
  
  }  
  .mat-snack-bar-container .mat-button-wrapper {  
    color: #370665 !important;  
  }